<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Fitness Studio{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'FitnessStudio/css/style.css' %}">
</head>
<body>
    <header>
        <div class="header-content">
            <div class="logo">
                <h1>Fitness Studio</h1>
            </div>
            <nav>
                <a href="/">Главная</a>
                <a href="{% url 'event_list' %}">Все события</a>
                <a href="/admin/">Вход для админа</a>
            </nav>
        </div>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>